@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --tc-bg-orange: #F78B00;
  --tc-bg-white: #FFFFFF;
  --tc-card-bg-gray: #A7A7A7;
  --tc-btn-blue: #00285F;

  --tc-font-blue: #00285F;
  --tc-font-black: #000000;
  --tc-font-gray: #545858; 
  --tc-font-white: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

html, body {
  background-color: var(--tc-bg-white);
}

main {
  padding: 0 20px;
}

/* Generic Styles */

.tc-container {
  width: 100%;
  max-width: 980px;
  align-items: center;
  padding: 0 20px;
}