@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --tc-bg-orange: #f78b00;
  --tc-bg-white: #ffffff;

  --tc-card-bg-gray: #ededed;
  --tc-form-border-gray: #a7a7a7;
  --tc-placeholder-font-gray: #a7a7a7;

  --tc-btn-blue: #00285f;

  --tc-font-blue: #00285f;
  --tc-font-black: #000000;
  --tc-font-gray: #545858;
  --tc-font-white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--tc-bg-white);
}

main {
  padding: 0 10px;
  display: flex;
  justify-content: center;
}

/* Generic Styles */

.tc-container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  main {
    padding: 0 20px;
  }
}
